.programs {
  margin: 80px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.program {
  flex-basis: 31%;
  position: relative;
}
.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  padding-top: 70%;
}
.caption img {
  width: 60px;
  margin-bottom: 10px;
}
.program:hover .caption {
  padding-top: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* media query  */
@media (max-width: 650px) {
  .programs {
    flex-direction: column;
    gap: 20px;
  }
  .program {
    flex-basis: 100%;
  }
}